{{- $p := site.Params -}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": ["NGO", "LocalBusiness"],
  "name": "Columbia Gadget Works",
  "alternateName": "CGW",
  "url": {{ site.BaseURL }},
  "logo": {{ "/img/cgw-gear.png" | absURL }},
  "image": {{ "/img/og-default.jpg" | absURL }},
  "description": {{ $p.description }},
  "foundingDate": {{ $p.founded }},
  "nonprofitStatus": "Nonprofit501c3",
  "taxID": {{ $p.ein }},
  "email": {{ $p.email }},
  "telephone": {{ $p.phoneHref }},
  "address": {
    "@type": "PostalAddress",
    "streetAddress": {{ $p.addressStreet }},
    "addressLocality": {{ $p.addressCity }},
    "addressRegion": {{ $p.addressState }},
    "postalCode": {{ $p.addressZip }},
    "addressCountry": "US"
  },
  "openingHoursSpecification": [{
    "@type": "OpeningHoursSpecification",
    "dayOfWeek": "Thursday",
    "opens": "18:00",
    "closes": "20:00",
    "description": "Free Open Hack Night, open to the public"
  }],
  "sameAs": [
    {{ $p.facebook }},
    {{ $p.bluesky }},
    {{ $p.github }},
    {{ $p.wiki }}
  ]
}
</script>
